.nbIncr {
    color:white;
    padding-right: 31px;
    padding-top: 7px;
}
.btnModalPos {
    padding-bottom: 30px;
}
.chouf {
    margin-right: 10px;
    margin-bottom: 10px;
}
.botox {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 30px;
}